:root {
  --md-typeset-a-color: #881c1c;
  --md-primary-fg-color: #881c1c;
  --md-primary-fg-color--light: #881c1c;
  --md-primary-fg-color--dark: #881c1c;
  --md-accent-fg-color: #a92323;
}

.md-ellipsis {
  display: none;
}

.md-sidebar--secondary {
  display: none !important;
}